@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>artWars | @ViewBag.Title</title>

	@Styles.Render("~/bundles/animate/css")
	@Styles.Render("~/bundles/bootstrap/css")
	@Styles.Render("~/bundles/font-awesome/css")
	@RenderSection("Scripts")

	@if (IsSectionDefined("Styles"))
	{@RenderSection("Styles", required: false)}
</head>

<body>
	@Html.Partial("_Header")

	<section class="body-content">
		@RenderBody()
	</section>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>
