@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Sign In";
}

@using System.Web.Optimization
@model artWars.Web.Models.UserLogin

<div class="container-fluid animated slideInDown col-lg-3 p-5">
    <div class="view-header text-center">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-unlock"></i>
        </div>
        <div class="header-title text-lg-center">
            <h3>Sign In</h3>
        </div>
    </div>

    <div class="panel panel-filled">
        <div class="panel-body">
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "LoginForm" }))
            {
                @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Username, new
				   {
					   name = "username",
					   id = "username",
					   @class = "form-control"
				   })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Password, new
                   {
                       @class = "form-control",
                       type = "password",
                       name = "password",
                       id = "password"
                   })
                    </div>
                    <div class="text-center">
                        <button class="btn btn-dark">Sign In</button>
                    </div>
					<div class="p-3 text-center">
						<a class="btn bg-light float-left" style="cursor: pointer" onclick="location.href='@Url.Action("Register", "Login")'">Sign Up</a>
						<a class="btn float-right" href="#">Forgot Password?</a>
					</div>
            }
        </div>
    </div>

</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {

            $("#LoginForm").validate({
                rules: {
                    Username: {
                        required: true
                    },
                    Password: {
                        required: true
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                },
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("label[for='" + element.attr("id") + "']")
                        .append(error);
                },
                errorElement: "span"
            });
        });
    </script>
}
