@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtWars - @ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/font-awesome/css")
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", false)}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        @Html.Partial("_Header")
    </nav>
    <section class="body-content">
        @RenderBody()
    </section>
    <div style="height:80px;"></div>
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>